* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    padding: 10px;
}

.todo-app {
    width: 100%;
    background: rgb(255, 255, 255);
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cacff3;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    background: transparent;
    font-weight: 14px;
}

button {
    border: none;
    padding: 16px 30px;
    outline: none;
    background: #3861ba;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 14px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    /* Added to make ::before positioning relative to li */
}

ul li::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: url(/todo-list/unchecked.png);
    /* Update the path */
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #0f0c29;
    text-decoration: line-through;
}

ul li.checked::before {
    background: url(/todo-list/checked.png);
    /* Update the path */
    background-size: cover;
}

ul li span {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #d7d7d770;
}

.author {
    color: rgba(255, 255, 255, 0.735);
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}